.grid-container {
margin-top: 64px;
display: grid;
grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
grid-gap: 20px; /* Adjust as needed */
}

.grid-item {
/* Styles for grid items */
padding: 20px;
text-align: center;
}

.bio-pic {
    width: 70%;
    height: 80%;
}
  
